
header {
    height: 50px;
    width: 100%;
}
body {
    background-color: rgb(88, 80, 94);
    font-family: 'Cascadia Code', sans-serif;
}
.menu-links {
    display: inline-flex;
    list-style: none;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
}
.main-skills, .certs, .education h3 {
    color: rgb(37, 11, 72);
    text-align: center;
}
.intro{
    padding: 50px;
}
.intro h3{
    color: black;
}
.main-skills ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.certs ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education {

}